<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>Register for an account</h1>
    <br/>
    {{ wtf.quick_form(form) }}
    <br/>
    <input type="checkbox" name="user_policy" value="0"> Please read <a rel="nofollow" href="http://www.uab.edu/policies/content/Pages/UAB-IT-POL-0000004.aspx">UAB's Acceptable Use Policy (AUP)</a> before you register</input>
  </div>
</div>
{% endblock %}
